*{
    margin: 0;
    box-sizing: border-box;
}
.body{
    background-color: #1b241d;
    color: aliceblue;
}
.header{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    border: 1px solid rgb(241, 211, 211);
    border: none;
}
.nav-bar > ul{
 list-style-type: none;
 display: flex;
}
.nav-bar>ul>li{
    padding: 10px;
}
.card{
    width: 150px;
    border: 1px solid black;
    padding: 5px;
    margin-left: 10px;
}
.card>img{
    width: 100%;
}
.res-list{
    display: flex;
}
.bar{
    display: flex;
}
.menubar{ 
  background-color: antiquewhite;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 5px 5px;
  
}
.register-btn{
    cursor: pointer;
    width: 70px;
    height: 40px;
    padding: 0 auto;
    margin: 50px 30px;
    border: none;
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #67c07a 51%,
        #bbaf29 100%
      );
}
.login-btn{
    cursor: pointer;
    width: 70px;
    height: 40px;
    padding: 0 auto;
    margin: 50px 30px;
    border: none;
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #67c07a 51%,
        #bbaf29 100%
      );
}
.regform{
    margin: 50px auto;
    width: 230px;
    padding: 30px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
}

#userlabel,#passlabel,#confirmpasslabel{
    padding: 8px;
    width: 150px;
    margin:  5px 0;
    border: none;
    outline: none;
    background-color: white;
}

#signup-btn{
    margin: 9px 0;
    border: 0.5px solid black;
    border-radius: 4px;
    background-color: beige;
    cursor: pointer;
}
